In [18]:
import pandas as pd

In [19]:
df=pd.read_csv(r"C:\Users\omsin\OneDrive\Documents\mta-customer-feedback-data-beginning_project-2014-1.csv")

# REPLACE MISSING VALUES IN ISSUE DETAIL WITH UNSPECIFIED

In [20]:
df.fillna({'Issue Detail':'unspecified'},inplace=True)

In [21]:
df

,Agency,Commendation or Complaint,Subject Matter,Subject Detail,Issue Detail,Year,Quarter,Branch/Line/Route
0,Long Island Rail Road,Commendation,Employees,CSR - Ambassador,Very Helpful/Friendly,2015,2,No Value
1,Long Island Rail Road,Commendation,Employees,CSR - Ambassador,Very Helpful/Friendly,2015,2,Port Jefferson
2,Long Island Rail Road,Commendation,Employees,CSR - Customer Service Office,unspecified,2015,1,No Value
3,Long Island Rail Road,Commendation,Employees,CSR - Customer Service Office,Other,2015,2,Far Rockaway
4,Long Island Rail Road,Commendation,Employees,CSR - Customer Service Office,Very Helpful / Friendly,2015,2,No Value
...,...,...,...,...,...,...,...,...
183882,Subways,Complaint,Travel Disruption / Trip Problem,Website,No Announcement / Messages - Visual/Text,2017,4,C
183883,Subways,Complaint,Travel Disruption / Trip Problem,Website,No Announcement / Messages - Visual/Text,2017,4,No Value
183884,Subways,Complaint,Travel Disruption / Trip Problem,Website,No Announcement / Messages - Visual/Text,2017,4,N
183885,Subways,Complaint,Travel Disruption / Trip Problem,Website,Timeliness - Visual / Text,2017,4,7
183886,Subways,Complaint,Travel Disruption / Trip Problem,Website,Timeliness - Visual / Text,2017,4,No Value

In [22]:
df['Issue Detail'].value_counts().get('unspecified',0)

np.int64(10134)

# DROP DUPLICATES

In [23]:
df=df.drop_duplicates()

In [24]:
df

,Agency,Commendation or Complaint,Subject Matter,Subject Detail,Issue Detail,Year,Quarter,Branch/Line/Route
0,Long Island Rail Road,Commendation,Employees,CSR - Ambassador,Very Helpful/Friendly,2015,2,No Value
1,Long Island Rail Road,Commendation,Employees,CSR - Ambassador,Very Helpful/Friendly,2015,2,Port Jefferson
2,Long Island Rail Road,Commendation,Employees,CSR - Customer Service Office,unspecified,2015,1,No Value
3,Long Island Rail Road,Commendation,Employees,CSR - Customer Service Office,Other,2015,2,Far Rockaway
4,Long Island Rail Road,Commendation,Employees,CSR - Customer Service Office,Very Helpful / Friendly,2015,2,No Value
...,...,...,...,...,...,...,...,...
183878,Subways,Complaint,Travel Disruption / Trip Problem,Website,No Announcement / Messages - Visual/Text,2017,4,No Value
183880,Subways,Complaint,Travel Disruption / Trip Problem,Website,No Announcement / Messages - Visual/Text,2017,4,F
183882,Subways,Complaint,Travel Disruption / Trip Problem,Website,No Announcement / Messages - Visual/Text,2017,4,C
183885,Subways,Complaint,Travel Disruption / Trip Problem,Website,Timeliness - Visual / Text,2017,4,7
183886,Subways,Complaint,Travel Disruption / Trip Problem,Website,Timeliness - Visual / Text,2017,4,No Value

# 1.COUNT OF RETAINED CUSTOMER(COMMENDATION)

In [25]:
retained_customr_count=df[df['Commendation or Complaint']=='Commendation'].shape[0]

In [26]:
print(f"Retained_Customer_Count:{retained_customr_count}")

Retained_Customer_Count:3984

# 2.CHURN RATE OF CUSTOMER

In [27]:
churned_customer_count=df[df['Commendation or Complaint']=='Complaint'].shape[0]

In [28]:
total_customer=df.shape[0]

In [29]:
churn_rate=round((churned_customer_count / total_customer)*100,2)

In [30]:
print(f'CHURN RATE : {churn_rate}%')

CHURN RATE : 95.38%

In [31]:
# 7. Common Issue Details (Complaint)
issue_detail_complaints = data_cleaned[data_cleaned['Commendation or Complaint'] == 'Complaint'].groupby('Issue Detail').size().reset_index(name='Count_of_Customers').sort_values(by='Count_of_Customers', ascending=False)
print("\nMost Common Issue Details:")
print(issue_detail_complaints.head())

# 8. Year-wise Trend of Customers
year_trend = data_cleaned.groupby('Year').size().reset_index(name='Count_of_Customers').sort_values(by='Year', ascending=False)
print("\nYear-wise Trend of Customers:")
print(year_trend)

# 9. Quarter-wise Trend of Churned Customers (Complaint)
quarter_trend_complaints = data_cleaned[data_cleaned['Commendation or Complaint'] == 'Complaint'].groupby('Quarter').size().reset_index(name='Count_of_Customers').sort_values(by='Count_of_Customers', ascending=False)
print("\nQuarter-wise Trend of Churned Customers:")
print(quarter_trend_complaints)

NameError: name 'data_cleaned' is not defined

# 3.COUNT OF CHURNED CUSTOMERS(COMPLAINT)

In [32]:
print(f'CHURNED CUSTOMER COUNT:{churned_customer_count}')

CHURNED CUSTOMER COUNT:82231

# 4.AGENCY WITH MOST COMPLAINTS

In [33]:
agency_complaints=df[df['Commendation or Complaint']=='Complaint'].groupby('Agency').size().reset_index(name='agency count').sort_values(by='agency count',ascending=False)

In [34]:
agency_complaints

                  Agency  agency count
2              NYC Buses         47781
3                Subways         21401
0  Long Island Rail Road          8231
1   Metro-North Railroad          4818

# 5. COMMON SUBJECT MATTERS(COMPLAINT)

In [35]:
subject_matter_complaints=df[df['Commendation or Complaint']=='Complaint'].groupby('Subject Matter').size().reset_index(name='count of customer').sort_values(by='count of customer',ascending=False)

In [36]:
subject_matter_complaints

                            Subject Matter  count of customer
4                                Employees              34314
12  Station /Bus Stop /Facility /Structure              15876
15        Travel Disruption / Trip Problem              12704
0                                    Buses               5795
14                                  Trains               5613
13       Telephone / Website / Mobile Apps               2258
8            Policies, Rules & Regulations               2111
11                Schedules / Reservations               1376
7        MetroCard/Tickets/E-Zpass & Tolls               1346
3                                 Customer                668
6                 MTA Agency Cars / Trucks                101
2          Construction / Capital Projects                 35
9                           Public Hearing                 17
10                 Reasonable Modification                  9
5             Ferry Service - Hudson River                  7
1                                Complaint                  1

# 6. Common Subject Details (Complaint)

In [37]:
Subject_Details_Complaint=df[df['Commendation or Complaint']=='Complaint'].groupby('Subject Detail').size().reset_index(name='subject_details').sort_values(by='subject_details',ascending=False)

In [38]:
Subject_Details_Complaint

                   Subject Detail  subject_details
17          Bus Operator / Driver            26957
15        Bus / Vehicle - General            12335
93             Rail / Subway Cars             4015
112             Station - General             2994
125               Train - General             2974
..                            ...              ...
40   Equal Employment Opportunity                1
24             Call Ahead Service                1
12     Bikes-Per-Car Restrictions                1
33          Deferred Toll Payment                1
96      Resident Discount - Other                1

[139 rows x 2 columns]

# 7. Common Issue Details (Complaint)

In [39]:
Issue_Details_Complaint=df[df['Commendation or Complaint']=='Complaint'].groupby('Issue Detail').size().reset_index(name='issue').sort_values(by='issue',ascending=False)

In [40]:
Issue_Details_Complaint

                               Issue Detail  issue
217                             unspecified   4963
142                                   Other   4372
162           Rude / Inappropriate Language   3689
89   Improper Function/Needs Repair/Damaged   3329
103                            Late / Delay   3185
..                                      ...    ...
132                  Not Seen/Not Available      1
177               Ticket / Permit Suspended      1
197                          Trip Cancelled      1
200                           User Friendly      1
216                                   other      1

[218 rows x 2 columns]

# 8. Year-wise Trend of Customers

In [41]:
Year_wise_Trend=df.groupby('Year').size().reset_index(name='year').sort_values(by='year',ascending=False)

In [42]:
Year_wise_Trend

   Year   year
1  2015  35455
2  2016  28302
0  2014  12956
3  2017   9502

# 9. Quarter-wise Trend of Churned Customers (Complaint)

In [47]:
quarter_wise_churned_complaint=df[df['Commendation or Complaint']=='Complaint'].groupby('Quarter').size().reset_index(name='quartely_complaint').sort_values(by='quartely_complaint',ascending=False)

In [48]:
quarter_wise_churned_complaint

   Quarter  quartely_complaint
2        3               23814
3        4               23705
1        2               18176
0        1               16536

In [50]:
df.to_csv('C:/Users/omsin/OneDrive/Documents/df.csv', index=False)